/* W3.CSS 4.10 February 2018 by Jan Egil and Borge Refsnes */
html {
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #5a5a5a;
}

.ui-widget {
	font-size: 1em;
}

.ui-button {
	background: #263544;
	color: #fff !important;
	font-weight: normal !important;
}

#imixs-content.loading {
	overflow: hidden;
}

#imixs-content.loading .imixs-wait {
	display: block;
}

.loading {
	background: rgba(255, 255, 255, .8) url(../icons/ajax-loader.gif) 50% 50% no-repeat;
	color: #ccc;
}

/* Ajax loader */
.imixs-wait {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .8) url('../icons/ajax-loader.gif') 50%
		50% no-repeat;
}

*, *:before, *:after {
	box-sizing: inherit
}

.header {
	background-color: #FFF;
	border-bottom: 2px solid #e8e8e8;
	min-height: 80px;
	color: #263544;
	height: 86px;
	padding: 16px 10px;
	white-space: nowrap;
}

.header .nav-sidebar ul li {
	cursor: pointer;
}

.header .typcn {
	font-size: 1.3rem;
	cursor: pointer;
}

.header .searchbox {
	padding: 0;
}

.header .searchbox input {
	margin-right: 10px;
	width: 75%;
}

.header .searchbox .typcn {
	font-size: 1.5rem;
}

.header .linkbox .typcn {
	color: #263544;
}

.header .linkbox ul li {
	list-style: none;
	margin-right: 20px;
	display: inline;
}

.nav-sidebar {
	height: 100%;
	width: 200px;
	background-color: #263544;
	color: #f1f7ff;
	position: fixed !important;
	z-index: 1;
	overflow: hidden;
	border-right: 1px solid rgb(224, 228, 231);
}

.nav-sidebar hr {
	color: #FCB802;
	border-color: #FCB802;
	border-style: none none solid;
	border-width: 0 0 2px;
}

.nav-sidebar .nav-title {
	min-height: 80px;
	height: 80px;
	padding: 16px 10px;
	white-space: nowrap;
}

.nav-sidebar .nav-title hr {
	width: 100%;
}

.title-bar h4 {
	margin: 0;
}

.nav-sidebar  ul {
	padding: 0;
}

.nav-item .typcn {
	font-size: 24px;
	margin-right: 20px;
}

.imixs-header .typcn {
	margin-right: 10px;
}

.imixs-date {
	width: 140px !important;
	background: url(./calendar_14.png) no-repeat scroll left center white !important;
	background-position-x: left;
	background-position-y: center;
	background-position: 6px 8px, center !important;
	padding-left: 28px !important;
}

.nav-sidebar a {
	color: inherit;
}

.nav-sidebar a:hover {
	text-decoration: none;
}

.nav-sidebar hr {
	width: 90%;
}

.main-container {
	padding: 16px 20px;
}

.content {
	margin-left: 200px;
}

.form-section {
	display: none;
}

.nav-item {
	font-weight: 200;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	white-space: nowrap;
	width: 100%;
	display: block;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0;
}

.nav-item:hover {
	background-color: #1d2531 !important;
	color: #fff;
}

.imixs-form h3 {
	border-bottom: 1px solid #ddd;
	line-height: 2em;
}

button, input[type="button"], input[type="submit"], .button, a.button,
	.imixs-button {
	background: #263544;
	color: #fff !important;
	font-weight: normal !important;
}

a.button {
	padding: 0.15em 0.75em;
	border-radius: 3px;
}

input[type="button"]:hover, input[type="submit"]:hover, .button:hover, a.button:hover,
	.imixs-button:hover {
	background: #31b1dc;
	color: #ddd !important;
}

input[type="button"]:active, input[type="submit"]:active, a.button:active,
	a.button:focus, input[type="button"]:focus, input[type="submit"]:focus
	{
	background: #31b1dc;
	color: #ddd !important;
}

#imixs-content {
	padding-bottom: 80px;
}

#imixs-content a.imixs-button {
	color: inherit;
}

#imixs-content a.imixs-button:hover {
	color: #fff;
}

#imixs-footer {
	width: 100%;
	padding: 10px 30px 10px 210px;
	text-align: right;
	border-top: 2px solid #e8e8e8;
}

#imixs-footer a {
	color: inherit;
}

/* tootip */
span.tooltip:hover {
	cursor: help;
	position: relative
}

span.tooltip span.tip {
	display: none
}

span.tooltip:hover span.tip {
	display: block;
	z-index: 100;
	left: -285px;
	width: 300px;
	position: absolute;
	top: 16px;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	font-size: 0.85rem;
	background-color: #ffffff;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px
		rgba(43, 43, 43, .1);
	box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px
		rgba(43, 43, 43, .1);
	border: 1px solid #CCC;
	margin-bottom: 30px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.imixs-form-section, .imixs-form-section-2, .imixs-form-section-3 {
	margin-top: 30px;
}

/* --- Imixs-Tabs ---------------------------------- */
.imixs-form .imixs-body .imixs-tabs {
	
}

.imixs-tabs.ui-tabs.ui-corner-all.ui-widget.ui-widget-content {
	border: none;
}

.imixs-tabs .ui-tabs-nav {
	background: none;
	border: none;
}

.imixs-tabs .ui-tabs-panel {
	padding: 1em 0;
}

.imixs-tabs .ui-tabs-nav .ui-state-default {
	background: none;
	border: none;
	border-bottom: 2px solid #FFF;
	font-size: 1.3rem;
	margin-bottom: -1px;
}

.imixs-tabs .ui-tabs-nav .ui-state-default:hover {
	background: none;
	border: none;
	border-bottom: 2px solid #206B87;
	opacity: 0.70;
}

.imixs-tabs .ui-tabs-nav .ui-state-default a {
	color: #999;
	font-size: 1.3rem;
	padding: 10px 10px 10px 0;
	margin-bottom: 0px;
	padding-bottom: 11px;
}

.imixs-tabs .ui-tabs-nav .ui-state-default a:hover {
	color: #206B87;
}

.imixs-tabs .ui-tabs-nav .ui-state-focus {
	border: none;
}

.imixs-tabs .ui-tabs-nav .ui-state-active {
	border-bottom: 2px solid #206B87;
}

.imixs-tabs .ui-tabs-nav .ui-state-active a {
	color: #206B87;
	outline: none;
}

.code {
	background-color: #2B2717;
	color: #BDBCB8;
	font-family: Consolas, "Courier New", monospace;
	font-size: 14px;
	margin: 8px 0px;
	max-height: 312px;
	overflow: auto;
	padding: 16px;
}

.typcn.error {
	color: #e83636d9;
}

.typcn.success {
	color: green;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus,
	select:focus {
	border: 1px solid #145267;
	border-radius: 3px;
}

table {
	font-size: 14px;
}

th {
	font-weight: bold;
}

table, td, th {
	border: none;
	padding: 4px;
	border-bottom: 1px solid #ddd;
}

.imixsdatatable a {
	color: #428bca !important;
}

.danger-zone {
	border: 1px solid #cb2431;
	border-radius: 4px;
	padding: 10px 10px;
}

.danger-zone  .typcn {
	margin-right: 5px;
}

.danger-zone button, .danger-zone input[type="button"], .danger-zone input[type="submit"]
	{
	color: #cb2431;
}

.pull-right {
	float: right;
}

/* Responsive */
@media screen and (max-width: 1200px) {
	.header {
		background-image: none;
	}
}

@media screen and (max-width: 700px) {
	.content {
		margin-left: 60px;
	}
	.nav-sidebar {
		width: 60px;
	}
	.nav-sidebar label {
		display: none;
	}
}